.htmx-indicator {
  opacity: 0;
  width: 0px;
  height: 0px;
}
.htmx-request .htmx-indicator {
  opacity: 1;
  width: auto;
  height: auto;
  padding-left: 0.5rem;
}
.htmx-request.htmx-indicator {
  opacity: 1;
  width: auto;
  height: auto;
  padding-left: 0.5rem;
}

* {
  transition: 200ms ease-in-out;
}

body {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #555555;
}

button {
  background: dodgerblue;
  padding: 0.25rem 1rem;
  color: white;
  border: 1px solid white;
  border-radius: 0.25rem;
}

td,
th {
  text-align: start;
  padding: 0.25rem 1rem;
}

input {
  padding: 0.25rem;
  border: none;
  background: whitesmoke;
  border-radius: 0.25rem;
  width: 100%;
}

.new-contact-form {
  margin-top: 1rem;
}

h1 {
  text-align: center;
}

label {
  display: block;
}

.create-container {
  /* background: red; */
}
